@import "bootstrap/scss/bootstrap";
@import "constants.scss";

#root,
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $main;
  font-family: $font-family-primary;
  font-size: 1.5rem;
  color: white;
}

a {
  text-decoration: none !important;
}

a:hover,
a:active,
a:visited {
  color: white !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: $light-blue !important;
  border-color: $light-blue !important;
}

.btn-primary:hover {
  background-color: $blue !important;
}

.text-typing {
  letter-spacing: 0.3rem;
}

p,
.text {
  color: $grey;
}

.square-box {
  height: 200px;
}

.error {
  color: $error;
}

.correct {
  color: $green;
}

.pointer {
  color: $pink;
  height: 4px;
  width: 10px;
}
